body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u1188 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u1189 {
  position:absolute;
  left:2px;
  top:442px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1190 {
  position:absolute;
  left:0px;
  top:125px;
  width:183px;
  height:39px;
}
#u1191 {
  position:absolute;
  left:2px;
  top:12px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1192 {
  position:absolute;
  left:0px;
  top:237px;
  width:183px;
  height:53px;
}
#u1193 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1194 {
  position:absolute;
  left:0px;
  top:300px;
  width:183px;
  height:53px;
}
#u1195 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1196 {
  position:absolute;
  left:0px;
  top:416px;
  width:183px;
  height:53px;
}
#u1197 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1198 {
  position:absolute;
  left:0px;
  top:63px;
  width:183px;
  height:39px;
}
#u1199 {
  position:absolute;
  left:2px;
  top:12px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1200 {
  position:absolute;
  left:1335px;
  top:0px;
  width:105px;
  height:43px;
}
#u1201 {
  position:absolute;
  left:2px;
  top:14px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:629px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1202 {
  position:absolute;
  left:1246px;
  top:188px;
  width:102px;
  height:629px;
}
#u1203 {
  position:absolute;
  left:2px;
  top:306px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1204 {
  position:absolute;
  left:792px;
  top:91px;
  width:123px;
  height:46px;
}
#u1205 {
  position:absolute;
  left:2px;
  top:15px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1206 {
  position:absolute;
  left:0px;
  top:184px;
  width:183px;
  height:53px;
}
#u1207 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
