body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u376 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u377 {
  position:absolute;
  left:2px;
  top:442px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u378 {
  position:absolute;
  left:1335px;
  top:0px;
  width:105px;
  height:43px;
}
#u379 {
  position:absolute;
  left:2px;
  top:14px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u380 {
  position:absolute;
  left:205px;
  top:87px;
  width:112px;
  height:53px;
}
#u381 {
  position:absolute;
  left:2px;
  top:18px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:630px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u382 {
  position:absolute;
  left:1252px;
  top:170px;
  width:60px;
  height:630px;
}
#u383 {
  position:absolute;
  left:2px;
  top:307px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u384 {
  position:absolute;
  left:0px;
  top:241px;
  width:183px;
  height:53px;
}
#u385 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u386 {
  position:absolute;
  left:0px;
  top:304px;
  width:183px;
  height:53px;
}
#u387 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u388 {
  position:absolute;
  left:0px;
  top:367px;
  width:183px;
  height:53px;
}
#u389 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u390 {
  position:absolute;
  left:0px;
  top:420px;
  width:183px;
  height:53px;
}
#u391 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u392 {
  position:absolute;
  left:0px;
  top:67px;
  width:183px;
  height:39px;
}
#u393 {
  position:absolute;
  left:2px;
  top:12px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u394 {
  position:absolute;
  left:0px;
  top:184px;
  width:183px;
  height:53px;
}
#u395 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
