body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u1242 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u1243 {
  position:absolute;
  left:2px;
  top:442px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1244 {
  position:absolute;
  left:0px;
  top:125px;
  width:183px;
  height:39px;
}
#u1245 {
  position:absolute;
  left:2px;
  top:12px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1246 {
  position:absolute;
  left:0px;
  top:174px;
  width:183px;
  height:53px;
}
#u1247 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1248 {
  position:absolute;
  left:0px;
  top:237px;
  width:183px;
  height:53px;
}
#u1249 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1250 {
  position:absolute;
  left:0px;
  top:300px;
  width:183px;
  height:53px;
}
#u1251 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1252 {
  position:absolute;
  left:0px;
  top:363px;
  width:183px;
  height:53px;
}
#u1253 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1254 {
  position:absolute;
  left:0px;
  top:63px;
  width:183px;
  height:39px;
}
#u1255 {
  position:absolute;
  left:2px;
  top:12px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1256 {
  position:absolute;
  left:1335px;
  top:0px;
  width:105px;
  height:43px;
}
#u1257 {
  position:absolute;
  left:2px;
  top:14px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1258 {
  position:absolute;
  left:657px;
  top:94px;
  width:127px;
  height:46px;
}
#u1259 {
  position:absolute;
  left:2px;
  top:15px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
