body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u308 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u309 {
  position:absolute;
  left:2px;
  top:442px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u310 {
  position:absolute;
  left:1368px;
  top:84px;
  width:46px;
  height:39px;
}
#u311 {
  position:absolute;
  left:2px;
  top:12px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u312 {
  position:absolute;
  left:270px;
  top:191px;
  width:46px;
  height:39px;
}
#u313 {
  position:absolute;
  left:2px;
  top:12px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u314 {
  position:absolute;
  left:706px;
  top:812px;
  width:202px;
  height:62px;
}
#u315 {
  position:absolute;
  left:2px;
  top:23px;
  width:198px;
  visibility:hidden;
  word-wrap:break-word;
}
#u316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u316 {
  position:absolute;
  left:0px;
  top:241px;
  width:183px;
  height:53px;
}
#u317 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u318 {
  position:absolute;
  left:0px;
  top:304px;
  width:183px;
  height:53px;
}
#u319 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u320 {
  position:absolute;
  left:0px;
  top:367px;
  width:183px;
  height:53px;
}
#u321 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u322_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u322 {
  position:absolute;
  left:0px;
  top:420px;
  width:183px;
  height:53px;
}
#u323 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u324 {
  position:absolute;
  left:0px;
  top:67px;
  width:183px;
  height:39px;
}
#u325 {
  position:absolute;
  left:2px;
  top:12px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u326 {
  position:absolute;
  left:0px;
  top:184px;
  width:183px;
  height:53px;
}
#u327 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
