body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u1052 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u1053 {
  position:absolute;
  left:2px;
  top:442px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1054 {
  position:absolute;
  left:1335px;
  top:0px;
  width:105px;
  height:43px;
}
#u1055 {
  position:absolute;
  left:2px;
  top:14px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1056 {
  position:absolute;
  left:0px;
  top:125px;
  width:183px;
  height:39px;
}
#u1057 {
  position:absolute;
  left:2px;
  top:12px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1058 {
  position:absolute;
  left:0px;
  top:237px;
  width:183px;
  height:53px;
}
#u1059 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1060 {
  position:absolute;
  left:0px;
  top:513px;
  width:183px;
  height:53px;
}
#u1061 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1062 {
  position:absolute;
  left:0px;
  top:566px;
  width:183px;
  height:53px;
}
#u1063 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1064 {
  position:absolute;
  left:0px;
  top:63px;
  width:183px;
  height:39px;
}
#u1065 {
  position:absolute;
  left:2px;
  top:12px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1066 {
  position:absolute;
  left:0px;
  top:400px;
  width:183px;
  height:46px;
}
#u1067 {
  position:absolute;
  left:2px;
  top:15px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1068 {
  position:absolute;
  left:0px;
  top:354px;
  width:183px;
  height:46px;
}
#u1069 {
  position:absolute;
  left:2px;
  top:15px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1070 {
  position:absolute;
  left:297px;
  top:308px;
  width:35px;
  height:54px;
}
#u1071 {
  position:absolute;
  left:2px;
  top:19px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1072 {
  position:absolute;
  left:439px;
  top:308px;
  width:35px;
  height:54px;
}
#u1073 {
  position:absolute;
  left:2px;
  top:19px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1074 {
  position:absolute;
  left:579px;
  top:308px;
  width:35px;
  height:54px;
}
#u1075 {
  position:absolute;
  left:2px;
  top:19px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1076 {
  position:absolute;
  left:717px;
  top:308px;
  width:35px;
  height:54px;
}
#u1077 {
  position:absolute;
  left:2px;
  top:19px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1078 {
  position:absolute;
  left:852px;
  top:308px;
  width:35px;
  height:54px;
}
#u1079 {
  position:absolute;
  left:2px;
  top:19px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1080 {
  position:absolute;
  left:992px;
  top:308px;
  width:35px;
  height:54px;
}
#u1081 {
  position:absolute;
  left:2px;
  top:19px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1082 {
  position:absolute;
  left:1134px;
  top:308px;
  width:35px;
  height:54px;
}
#u1083 {
  position:absolute;
  left:2px;
  top:19px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1084 {
  position:absolute;
  left:1272px;
  top:308px;
  width:35px;
  height:54px;
}
#u1085 {
  position:absolute;
  left:2px;
  top:19px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1086 {
  position:absolute;
  left:297px;
  top:477px;
  width:35px;
  height:54px;
}
#u1087 {
  position:absolute;
  left:2px;
  top:19px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1088 {
  position:absolute;
  left:439px;
  top:477px;
  width:35px;
  height:54px;
}
#u1089 {
  position:absolute;
  left:2px;
  top:19px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1090 {
  position:absolute;
  left:579px;
  top:477px;
  width:35px;
  height:54px;
}
#u1091 {
  position:absolute;
  left:2px;
  top:19px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1092 {
  position:absolute;
  left:717px;
  top:477px;
  width:35px;
  height:54px;
}
#u1093 {
  position:absolute;
  left:2px;
  top:19px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1094 {
  position:absolute;
  left:852px;
  top:477px;
  width:35px;
  height:54px;
}
#u1095 {
  position:absolute;
  left:2px;
  top:19px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1096 {
  position:absolute;
  left:992px;
  top:477px;
  width:35px;
  height:54px;
}
#u1097 {
  position:absolute;
  left:2px;
  top:19px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1098 {
  position:absolute;
  left:1134px;
  top:477px;
  width:35px;
  height:54px;
}
#u1099 {
  position:absolute;
  left:2px;
  top:19px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1100 {
  position:absolute;
  left:1272px;
  top:477px;
  width:35px;
  height:54px;
}
#u1101 {
  position:absolute;
  left:2px;
  top:19px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1102 {
  position:absolute;
  left:297px;
  top:629px;
  width:35px;
  height:54px;
}
#u1103 {
  position:absolute;
  left:2px;
  top:19px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1104 {
  position:absolute;
  left:439px;
  top:629px;
  width:35px;
  height:54px;
}
#u1105 {
  position:absolute;
  left:2px;
  top:19px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1106 {
  position:absolute;
  left:579px;
  top:629px;
  width:35px;
  height:54px;
}
#u1107 {
  position:absolute;
  left:2px;
  top:19px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1108 {
  position:absolute;
  left:717px;
  top:629px;
  width:35px;
  height:54px;
}
#u1109 {
  position:absolute;
  left:2px;
  top:19px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1110 {
  position:absolute;
  left:852px;
  top:629px;
  width:35px;
  height:54px;
}
#u1111 {
  position:absolute;
  left:2px;
  top:19px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1112 {
  position:absolute;
  left:992px;
  top:629px;
  width:35px;
  height:54px;
}
#u1113 {
  position:absolute;
  left:2px;
  top:19px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1114 {
  position:absolute;
  left:1134px;
  top:629px;
  width:35px;
  height:54px;
}
#u1115 {
  position:absolute;
  left:2px;
  top:19px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1116 {
  position:absolute;
  left:1272px;
  top:629px;
  width:35px;
  height:54px;
}
#u1117 {
  position:absolute;
  left:2px;
  top:19px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1118 {
  position:absolute;
  left:10px;
  top:175px;
  width:183px;
  height:53px;
}
#u1119 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1120 {
  position:absolute;
  left:332px;
  top:308px;
  width:97px;
  height:54px;
}
#u1121 {
  position:absolute;
  left:2px;
  top:19px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1122 {
  position:absolute;
  left:474px;
  top:308px;
  width:97px;
  height:54px;
}
#u1123 {
  position:absolute;
  left:2px;
  top:19px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1124 {
  position:absolute;
  left:610px;
  top:308px;
  width:97px;
  height:54px;
}
#u1125 {
  position:absolute;
  left:2px;
  top:19px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1126 {
  position:absolute;
  left:745px;
  top:308px;
  width:97px;
  height:54px;
}
#u1127 {
  position:absolute;
  left:2px;
  top:19px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1128 {
  position:absolute;
  left:887px;
  top:308px;
  width:97px;
  height:54px;
}
#u1129 {
  position:absolute;
  left:2px;
  top:19px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1130 {
  position:absolute;
  left:1027px;
  top:308px;
  width:97px;
  height:54px;
}
#u1131 {
  position:absolute;
  left:2px;
  top:19px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1132 {
  position:absolute;
  left:1165px;
  top:308px;
  width:97px;
  height:54px;
}
#u1133 {
  position:absolute;
  left:2px;
  top:19px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1134 {
  position:absolute;
  left:1307px;
  top:308px;
  width:97px;
  height:54px;
}
#u1135 {
  position:absolute;
  left:2px;
  top:19px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1136 {
  position:absolute;
  left:334px;
  top:477px;
  width:97px;
  height:54px;
}
#u1137 {
  position:absolute;
  left:2px;
  top:19px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1138 {
  position:absolute;
  left:476px;
  top:477px;
  width:97px;
  height:54px;
}
#u1139 {
  position:absolute;
  left:2px;
  top:19px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1140 {
  position:absolute;
  left:612px;
  top:477px;
  width:97px;
  height:54px;
}
#u1141 {
  position:absolute;
  left:2px;
  top:19px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1142 {
  position:absolute;
  left:747px;
  top:477px;
  width:97px;
  height:54px;
}
#u1143 {
  position:absolute;
  left:2px;
  top:19px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1144 {
  position:absolute;
  left:889px;
  top:477px;
  width:97px;
  height:54px;
}
#u1145 {
  position:absolute;
  left:2px;
  top:19px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1146 {
  position:absolute;
  left:1029px;
  top:477px;
  width:97px;
  height:54px;
}
#u1147 {
  position:absolute;
  left:2px;
  top:19px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1148 {
  position:absolute;
  left:1167px;
  top:477px;
  width:97px;
  height:54px;
}
#u1149 {
  position:absolute;
  left:2px;
  top:19px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1150 {
  position:absolute;
  left:1309px;
  top:477px;
  width:97px;
  height:54px;
}
#u1151 {
  position:absolute;
  left:2px;
  top:19px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1152 {
  position:absolute;
  left:334px;
  top:629px;
  width:97px;
  height:54px;
}
#u1153 {
  position:absolute;
  left:2px;
  top:19px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1154 {
  position:absolute;
  left:476px;
  top:629px;
  width:97px;
  height:54px;
}
#u1155 {
  position:absolute;
  left:2px;
  top:19px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1156 {
  position:absolute;
  left:612px;
  top:629px;
  width:97px;
  height:54px;
}
#u1157 {
  position:absolute;
  left:2px;
  top:19px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1158 {
  position:absolute;
  left:747px;
  top:629px;
  width:97px;
  height:54px;
}
#u1159 {
  position:absolute;
  left:2px;
  top:19px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1160 {
  position:absolute;
  left:889px;
  top:629px;
  width:97px;
  height:54px;
}
#u1161 {
  position:absolute;
  left:2px;
  top:19px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1162 {
  position:absolute;
  left:1029px;
  top:629px;
  width:97px;
  height:54px;
}
#u1163 {
  position:absolute;
  left:2px;
  top:19px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1164 {
  position:absolute;
  left:1167px;
  top:629px;
  width:97px;
  height:54px;
}
#u1165 {
  position:absolute;
  left:2px;
  top:19px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1166 {
  position:absolute;
  left:1309px;
  top:629px;
  width:97px;
  height:54px;
}
#u1167 {
  position:absolute;
  left:2px;
  top:19px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
